@import "bourbon/bourbon"

/*Сброс*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

button, button:active, button:focus,
input, input:active, input:focus
	outline: none

ol, ul
	list-style: none

.hidden
	display: none


/*Стандартные стили*/

a
	@include transition(all 0.3s ease-in-out)


.row-flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-align-items: center
	-webkit-box-align: center
	-ms-flex-align: center
	align-items: center

.owl-nav
	div
		text-indent: -9999px
		height: 54px
		width: 28px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		display: block
		z-index: 10
		@include transition(all 0.3s ease-in-out)
		&:hover
			opacity: 0.6
	.owl-prev
		left: -100px
		background-image: url(../img/icon/aw-left.png)
	.owl-next
		right: -100px
		background-image: url(../img/icon/aw-right.png)


.p-title
	color: #fff
	text-transform: uppercase
	font-family: "ProximaNovaBold", sans-serif
	font-size: 30px
	letter-spacing: 0.5em
	display: inline-block

.p-description
	p
		line-height: 25px
		color: #ccc
		letter-spacing: 0.05em

.p-button
	height: 48px
	width: 270px
	text-decoration: none
	border: 2px solid #fff
	color: #fff
	text-transform: uppercase
	font-size: 14px
	font-family: "ProximaNovaBold", sans-serif
	display: block
	margin: 0 auto
	text-align: center
	line-height: 48px
	background-color: transparent
	&:hover, &:focus, &:active
		background-color: #fff
		color: #000
		text-decoration: none

.p-photo
	width: 100%
	height: auto
	display: block

.p-hr
	height: 1px
	display: block
	width: 100%
	margin-top: 32px
	background-color: #1e1e1e
	border: none
	margin-bottom: 0

.p-data
	font-size: 16px
	color: #999
	font-family: "ProximaNovaLight", sans-serif
	letter-spacing: 0.2em