@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

/*Стандартные стили*/
.owl-nav div {
  text-indent: -9999px;
  height: 54px;
  width: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: block;
  z-index: 10;
}

.owl-nav div:hover {
  opacity: 0.6;
}

.owl-nav .owl-prev {
  left: -100px;
  background-image: url(../img/icon/aw-left.png);
}

.owl-nav .owl-next {
  right: -100px;
  background-image: url(../img/icon/aw-right.png);
}

.p-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.5em;
  display: inline-block;
}

.p-description p {
  line-height: 25px;
  color: #ccc;
  letter-spacing: 0.05em;
}

/*Внешние блоки*/
body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  background-color: #000;
  line-height: 1.25;
  font-family: "ProximaNovaRegular", sans-serif;
  overflow-x: hidden;
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.header__h-logo {
  padding-top: 22px;
}

.header__h-nav {
  padding: 34px 70px;
}

.header__h-languages {
  padding-top: 37px;
}

.page__p-title {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 45px;
  position: relative;
  z-index: 3;
}

.page__p-description {
  position: relative;
  z-index: 3;
}

.page__p-description-ots {
  padding: 0 270px;
}

.page__p-aboutSlider {
  position: relative;
  z-index: 3;
  padding: 68px 100px;
}

.page__section-top {
  position: relative;
}

.page__section-top::after {
  content: '';
  height: 140px;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: auto;
  position: absolute;
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.page__section-img {
  display: block;
  width: 100%;
  height: auto;
}

.page__section-absolute {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.page__section-about {
  padding-top: 135px;
  position: relative;
}

.page__section-gradbg {
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  width: auto;
}

.page__section-gradbg-img {
  display: block;
  width: 100%;
  height: auto;
}

.page__section-gradbg::after, .page__section-gradbg:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, black 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, black));
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, black 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

.page__section-full {
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding: 68px 0;
}

/*Компоненты*/
.h-logo {
  display: inline-block;
}

.h-logo__img {
  display: inline-block;
}

.h-nav {
  font-size: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.h-nav__item {
  display: block;
}

.h-nav__link {
  text-transform: uppercase;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
}

.h-nav__link:hover, .h-nav__link:focus, .h-nav__link:active {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

.h-languages {
  font-size: 0;
  text-align: right;
}

.h-languages__item {
  display: inline-block;
  margin-left: 18px;
}

.h-languages__item-active .h-languages__link {
  opacity: 1;
}

.h-languages__link {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "ProximaNovaBold", sans-serif;
  letter-spacing: 0.05em;
  color: #fff;
  padding-left: 20px;
  display: block;
  position: relative;
  opacity: 0.6;
}

.h-languages__link:hover, .h-languages__link:focus, .h-languages__link:active {
  color: #fff;
  text-decoration: none;
}

.h-languages__icon {
  width: 14px;
  height: 11px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5.5px;
}

.p-baner {
  text-align: center;
}

.p-baner__img {
  display: inline-block;
}

.p-baner__title {
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
  letter-spacing: 0.150em;
  padding-top: 26px;
}

.p-aboutSlider2__img {
  display: block;
}
